.input-f{
    width: 29% !important;
    border: 0px !important;
    border-radius: 0px !important;
    padding: 10px !important;
}

.login-f{
    background-color: #f4f4f4 !important;
    color: #353535 !important;
    cursor: pointer !important;
}

.current-user-text{
    text-align: center !important;
    color: #ffffff !important;
    display: block !important;
}

.current-user-text a{
    color: #ffffff !important;
}

#show-user-error{
    text-align: center !important;
    color: #fd9626 !important;
}
